# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Env
.env
.env.*

# Databases
*.db
*.sqlite

# Logs
*.log

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/